<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>

<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <li>{{this.title}} - Price: ${{this.price}}</li>
        {{/each}}
    </ul>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script src="/css/index.css"></script>
</body>

</html>