<<<<<<< HEAD
<div>
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>

<body>
>>>>>>> 83b01996588628bdd5edf6b5943bdebc374f967a
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <li>{{this.title}} - Price: ${{this.price}}</li>
        {{/each}}
<<<<<<< HEAD

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/index.js"></script>
        <script src="/css/index.css"></script>
</div>
=======
    </ul>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script src="/css/index.css"></script>
</body>

</html>
>>>>>>> 83b01996588628bdd5edf6b5943bdebc374f967a
