<div>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="product-list">
        {{#each products}}
        <li>{{this.title}} - Price: ${{this.price}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('productAdded', (product) => {
            const productItem = `<li>${product.title} - Price: $${product.price}</li>`;
            document.getElementById('product-list').innerHTML += productItem;
        });

        socket.on('productRemoved', (productId) => {
            const productElement = document.querySelector(`li[data-product-id="${productId}"]`);
            if (productElement) {
                productElement.remove();
            }
        });
    </script>
</div>